.MyPage {
    background-color: burlywood;
}
.MyPage img {
    width: 775px;
}

.button {
    padding: 10 px;
    margin: 10 px;  
}
.NoImg{
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.userPhotos{
    height: 80px;
    border-radius: 10px ;
}
.photos{
    width: 100px;

}